---

---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>归档</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="showzeng's blog" />
    <meta name="keywords" content="" />
    <meta name="author" content="showzeng" />
    <meta name="copyright" content="showzeng" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style type="text/css">
         .cnzz {
           display: none;
         }
    </style>

    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css" />
    <link rel="shortcut icon" href="https://www.z4a.net/images/2017/08/31/shortcut_icon.png"  type="image/x-icon"/>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="" />

</head>

<body>
    <div id="post-container">
        <div class="post-title">
            <div class="inner-title">
                <div class="post-title-back">
                    <a href="/" class="home-link"><img src="https://www.z4a.net/images/2017/08/31/ic_home.png" class="home" /></a>
                </div>
                <div class="post-article-title">
                    <p>归档</p>
                </div>
            </div>
        </div>
        <div class="post-content">

            {% for category in site.categories %}
            <div class="category-item">
                <div class="category-title"> {{ category | first | capitalize }}</div>
                <div class="category-count">{{ category | last | size }}</div>
            </div>
            {% for post in category.last %}
            <div class="article-item">
                <div class="article-title">
                    <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
                    <span class="article-date">{{post.date | date:"%Y %m-%d"}}</span>
                </div>
            </div>
            {% endfor %} {% endfor %}

            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="showzeng.github.io-articles.html" data-title="归档" data-url="showzeng.github.io/articles.html"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {
                    short_name: "showzeng"
                };
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] ||
                        document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
        </div>
        <div>

        </div>
    </div>

    {% include footer.html %}

    <div class="cnzz">
      <script type="text/javascript">
          var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cspan id='cnzz_stat_icon_1260800361'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260800361%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
      </script>
    </div>
</body>
<script type="text/javascript" src="/assets/js/articles.js"></script>
<script type="text/javascript" src="/assets/js/background-animation.js"></script>
<!-- <script type="text/javascript" src="/assets/js/click-animation.js"></script> -->
</html>
