#header {
  clear: both;
  width: 100%;
  height: 380px;
  position: relative;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

#content {
  background-color: #fff;
  padding: 40px 12%;
}

#content p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.post-title {
    width: 80%;
    height: 75px;
    background-color: rgba(66, 66, 66, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px 10%;
    z-index: 1;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.inner-title {
    width: 100%;
    height: 75px;
}

.post-title-back {
    display: inline-block;
    width: 10%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.home-link {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 20px;
}

.home-link:hover {
    margin-top: 18px;
}

.home {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.post-article-title {
    display: inline-block;
    font-size: 1.25em;
    width: 80%;
    height: 75px;
    float: right;
    color: white;
    margin-right: 10%;
    text-align: center;
    line-height: 75px;
    text-overflow: ellipsis;
    vertical-align: middle;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
}

.header-bg {
  display: inline-block;
  background: url(https://www.z4a.net/images/2017/08/31/bg_about.jpg) center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header-avatar {
  width: 10%;
  border-radius: 50%;
  position: absolute;
  top: 38%;
  margin: 0 45%;
}

.header-avatar:hover {
  -webkit-box-shadow: 0px 0px 100px 3px rgba(29,227,212,1);
  box-shadow: 0px 0px 100px 3px rgba(29,227,212,1);
}


/*aboutï¼šnew features*/
.content-body {


}

.content-title {
  font-size: 1.6em;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.content-p {
  text-align: center;
}

.friend-link {
  width: 16%;
  display: inline-block;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.friend-link a {
  font-size: 1.1em;
  color: #1bc09a;
}
/*end*/

H2 {
    margin-bottom: 60px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 100%;
    font-size: 1.5em;
    line-height: 120%;
    color: #666666;
}

H3 {
    margin: 24px 0 12px;
    font-size: 1.5em;
    border-left: 6px solid #3d4b55;
    /*border-bottom: 4px double #3d4b55;*/
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background: #efefef;
    color: #3d4b55;
    line-height: 1.5;
}

H4 {
    margin-top: 24px;
    margin-bottom: 12px;
    width: 100%;
    font: blod;
    font-size: 1.25em;
    color: #4c4c4c;
    line-height: 120%;
}

H5 {
    margin-top: 10px;
    margin-bottom: -5px;
    color: #5d5d60;
    font-size: 1.08em;
    line-height: 1.4;
}

li {
    margin-left: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 1px;
    color: #228fcd;
}

a:hover {
    color: gray;
}

img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

blockquote {
    margin: 16px 0px;
    color: #454545;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 4px solid #9c9c9c;
    background: #e2e2e2;
}

blockquote p {
    text-indent: 0;
    padding-left: 0.5em;
}

hr {
    color: LightGrey;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #e65c04;
    letter-spacing: 0;
    font-size: 85%;
}

pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.68;
    font-size: 0.96em;
    overflow: auto;
}

pre code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #e65c04;
    letter-spacing: 0.025em;
    font-size: 85%;
}

ul {
    margin-left: -5px;
}

table {
    margin: 20px 15% 20px 15%;
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 14px;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

table>tbody>tr:hover {
    background-color: lightblue;
}

caption, th, td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
}

th, td {
    border-bottom: 3px solid #ddd;
    border-right: 1px solid #eee;
}

th {
    padding-bottom: 10px;
    font-weight: 700;
}

td {
    border-bottom-width: 1px;
}

@media screen and (max-device-width: 768px) {
  #header {
    height: 30%;
  }

  #content {
      font-size: 0.9em;
      margin: 0 0 0 0;
      padding: 2% 5% 5% 5%;
      width: 90%;
      letter-spacing: 0;
  }

  .post-title {
    width: 100%;
    height: 50px;
    margin: 0;
  }

  .inner-title {
    height: 50px;
  }

  .home-link {
    width: 20px;
    height: 20px;
    margin: 12px 10px 10px 40%;
  }

  .home-link:hover {
    margin-top: 10px;
  }

  .post-article-title {
    height: 50px;
    line-height: 50px;
  }

  .friend-link {
    width: 32%;
  }
}
