#content {
    background-color: #fff;
    padding: 40px 12%;
}

.content-post {
    width: 100%;
    padding: 30px 0px;
    display: inline-block;
    border-bottom: 1px dashed #9c9c9c;
}

.content-post a {
    text-decoration: none;
}

.content-post a:hover {
    color: #5A9094;
}

.post-title {
    width: 80%;
    font-size: 1.5em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.post-date {
    color: #555555;
    margin-top: 6px;
    float: right;
    text-align: end;
    margin-left: 8px;
    font-size: 1em;
    padding: 4px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

.post-excerpt {
    margin-top: 24px;
    line-height: 1.6;
    display: inline-block;
    color: #555555;
    letter-spacing: 0.02em;
    font-size: 1.05em;
    -webkit-font-smoothing: antialiased;
}

.content-post-bottom-paginator {
    margin-top: 8px;
    margin-bottom: 32px;
    height: 64px;
}

.previous-page {
    float: left;
}

.next-page {
    float: right;
}

.previous-page, .next-page {
    line-height: 64px;
    left: 0;
    width: auto;
    height: 64px;
}

.page {
    text-align: center;
    height: 64px;
    float: none;
}

.page-img {
    margin-top: 16px;
    width: 32px;
    height: 32px;
}

.page-img:hover {
    margin-top: 14px;
}

.page-num {
    text-align: center;
    line-height: 72px;
    margin: 0 8px;
    font-size: 1.25em;
}

.page a {
    text-decoration: none;
    color: #555555;
}

@media screen and (max-device-width: 768px) {
    .post-title {
        width: 75%;
        font-size: 1.1em;
    }
    .post-date {
        margin: 6px auto auto auto;
        font-size: 0.8em;
        padding: 0;
    }
    .post-excerpt {
        margin-top: 15px;
        font-size: 0.95em;
    }
}
