#header {
  clear: both;
  width: 100%;
  height: 380px;
  position: relative;
  -webkit-box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
  box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
}

.header-bg {
  display: inline-block;
  background: url(https://www.z4a.net/images/2017/08/31/bg_homepage.jpg) center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.nav-bar {
  background-color: rgba(66,66,66,0.55);
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  position: absolute;;
  bottom: 0px;
  display: inline-block;
  overflow: visible !important;
  transition: background-color 0.6s;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.nav-bar-avatar {
  width: 200px;
  height: 200px;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 12px;
  display: inline-block;
  position: absolute;
  bottom: -40px;
  left: 40px;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.avatar {
  border-radius: 8px;
  display: inline-block;
}

.nav-bar-title {
  position: absolute;
  left: 290px;
  font-size: 1.1em;
}

.nav-bar-item {
  padding-right: 20px;
  float: right;
  font-size: 1.1em;
}

.nav-bar-title, .nav-bar-item {
  line-height: 60px;
}

.nav-bar a:hover{
  color: rgba(29,227,212,1);
}

/* animation */

.nav-bar.nav-bar-fixed {
  position: fixed;
  width: 80%;
  left: 10%;
  top: 0;
  background-color: rgba(66, 66, 66, 0.9);
  -webkit-box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
  box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
}

.nav-bar-avatar.small {
  width: 50px;
  height: 50px;
  left: 20px;
  bottom: 5px;
  border: 0px;
  border-radius: 50%;
}

.nav-bar-avatar.small img {
  height: 50px;
  border-radius: 50%;
}

.nav-bar-avatar.small img:hover {
  /*transform: rotateZ(-360deg);
  transition: 0.5s linear;*/
  -webkit-box-shadow: 0px 0px 20px 3px rgba(29,227,212,1);
  box-shadow: 0px 0px 20px 3px rgba(29,227,212,1);
}

.nav-bar-title.small {
  left: 90px;
  margin-right: 60%;
}

@media screen and (max-device-width: 768px) {

  #header {
    height: 30%;
  }

  .nav-bar {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-bar-avatar {
    position: static;
    width: 15%;
    height: auto;
    border: 3px solid #fff;
  }

  .nav-bar-title, .nav-bar-item {
    position: static;
    line-height: 45px;
    font-size: 0.9em;
  }

  .nav-bar.nav-bar-fixed {
    width: 100%;
    height: 45px;
    left: 0;
  }

  .nav-bar-title.small {
    padding-right: 60px;
  }

  .other {
    margin-left: 29px;
  }

  .nav-bar-item {
    float: none;
    padding-right: 4px;
  }

  .nav-bar-avatar.small img {
    height: auto;
  }

  .nav-bar-avatar.small {
    width: 10%;
    height: auto;
    margin-left: 3%;
  }
}
