* {
    border: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
    min-height: 100%;
    padding: 0 10%;
    width: 80%;
    background-color: rgb(223,223,223);
}

a {
    text-decoration: none;
}

#post-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.post-title {
    width: 80%;
    height: 75px;
    background-color: rgba(66,66,66,0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px 10%;
    -webkit-box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
    box-shadow: 4px 5px 6px rgba(0,0,0,0.3);
}

.inner-title {
    width: 100%;
    height: 75px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.post-title-back {
    display: inline-block;
    width: 10%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.home-link {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 20px;
}

.home-link:hover {
    margin-top: 18px;
}

.home {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.post-article-title {
    display: inline-block;
    font-size: 1.25em;
    width: 80%;
    height: 75px;
    float: right;
    color: white;
    margin-right: 10%;
    text-align: center;
    line-height: 75px;
    text-overflow: ellipsis;
    vertical-align: middle;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
}

.post-content {
    height: 100%;
    word-wrap: break-word;
    font-size: 1em;
    line-height: 1.8;
    display: block;
    width: 70%;
    text-rendering: geometricPrecision;
    letter-spacing: 0.03em;
    color: rgb(54, 54, 54);
    font-family: Arial, "Microsoft YaHei", 黑体, 宋体, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    padding: 2% 0px 5% 0px;
    margin: 75px 0px 0px 15%;
}

.post-content p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.post-content img {
  max-width: 92%;
  display: block;
  border: 10px solid #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.category-item {
    color: #555555;
    width: 100%;
    display: inline-block;
    margin: 14px 0 0 0;
}

.category-title {
    font-size: 1.6em;
    display: inline-block;
}

.category-count {
    font-size: 1.5em;
    margin-left: 16px;
    float: right;
    display: inline-block;
}

.article-item {
    width: 100%;
    display: inline-block;
    padding-bottom: 8px;
    padding-top: 12px;
    border-bottom: 1px dashed lightgray;
}

.article-title {
    width: 100%;
    font-size: 1.08em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    font-weight: 400;
}

.article-date {
    color: #6a6a6a;
    float: right;
    text-align: end;
    margin-left: 16px;
    font-size: 0.95em;
    display: inline-block;
}

/*#up-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 7;
  display: block;
  width: 26px;
  height: 48px;
  background: url(http://7xtt0k.com1.z0.glb.clouddn.com/image/myblog/fangxiang3.png) 50% 0 no-repeat;
  transition: visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),transform .6s cubic-bezier(.6,.04,.98,.335)
}

#up-to-top i {
  display: block;
  margin-top: 48px;
  height: 14px;
  background: url(http://7xtt0k.com1.z0.glb.clouddn.com/image/myblog/fangxiang3.png) 50% -48px no-repeat;
  opacity: .5;
  transition: transform .2s;
  transform-origin: 50% 0;
}

#up-to-top::after {
  visibility: hidden;
}

#up-to-top.up-to-top {
  visibility: visible;
  opacity: 1;
}*/

.up-to-top {
  display: block;
  position: fixed;
  width: 0px;
  height: 0px;
  right: 14%;
  bottom: 10%;
}

.up-to-top.fixed {
  width: 50px;
  height: 50px;
}

.up-to-top.fixed img {
  margin: 0;
}

.up-to-top:hover {
  bottom: 10.3%;
}

.up-to-top-img {
  width: 100%;
  height: 100%;
}

H2 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px LightGrey solid;
    width: 100%;
    font-size: 2em;
    line-height: 120%;
    color: #666666;
}

H3 {
    margin: 24px 0 12px;
    font-size: 1.5em;
    /*border-left: 6px solid #3d4b55;*/
    /*border-bottom: 4px double #3d4b55;*/
    /*padding-left: 0.5em;*/
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    /*background: #efefef;*/
    color: #666666;
    line-height: 1.5;
}

H4 {
    margin-top: 24px;
    margin-bottom: 12px;
    width: 100%;
    font: blod;
    font-size: 1.25em;
    color: #4c4c4c;
    line-height: 120%;
}

H5 {
    margin-top: 10px;
    margin-bottom: -5px;
    color: #5d5d60;
    font-size: 1.08em;
    line-height: 1.4;
}

li {
    margin-left: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 1px;
    color: #428bca;
}

a:hover {
    color: #2a6496;
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
    margin: 33px auto;
}

blockquote {
    margin: 16px 0px;
    color: #777;
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 4px solid #999;
    background: #e9e9e9;
}

blockquote p {
    text-indent: 0;
    padding-left: 0.5em;
}

hr {
    color: LightGrey;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #e65c04;
    letter-spacing: 0;
    font-size: 85%;
}

pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.68;
    font-size: 0.96em;
    overflow: auto;
}

pre code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #09acfe;
    letter-spacing: 0.025em;
    font-size: 85%;
}

ul {
    margin-left: -5px;
}

table {
    margin: 20px 15% 20px 15%;
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 14px;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

table>tbody>tr:hover {
    background-color: lightblue;
}

caption, th, td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
}

th, td {
    border-bottom: 3px solid #ddd;
    border-right: 1px solid #eee;
}

th {
    padding-bottom: 10px;
    font-weight: 700;
}

td {
    border-bottom-width: 1px;
}

@media screen and (max-device-width: 768px) {
  body {
    padding: 0;
    width: 100%;
  }

  #post-container {
    width: auto;
    font-size: 0.9em;
    letter-spacing: 0;
    margin: 0 0 0 0;
    padding: 2% 5% 5% 5%;
    width: 90%;
  }

  .post-title {
    width: 100%;
    height: 50px;
    position: absolute;
    margin: 0;
  }

  .inner-title {
    height: 100%;
  }

  .post-article-title {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
  }

  .post-content {
    width: 90%;
    padding: 0;
    margin: 50px 0 0 5%;
  }

  .post-content p {
      -webkit-margin-before: 0.5em;
      -webkit-margin-after: 0.5em;
  }

  .post-content img {
    max-width: 88%;
  }

  .home-link {
    width: 20px;
    height: 20px;
    margin: 12px 10px 10px 40%;
  }

  .home-link:hover {
    margin-top: 10px;
  }

  .up-to-top {
    right: 2%;
  }

  .up-to-top.fixed {
    width: 25px;
    height: 25px;
  }

  .up-to-top.fixed img {
    margin: 0;
  }
}
