<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-cmn-Hans" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        关于
      {% endif %}
    </title>

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="https://www.z4a.net/images/2017/08/31/shortcut_icon.png">
    <link rel="bookmark" href="https://www.z4a.net/images/2017/08/31/shortcut_icon.png" type="image/x-icon">

    <link rel="stylesheet" href="{{ "/assets/css/about.css" }}">
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" }}">
    <link rel="stylesheet" href="{{ "/assets/css/markdown.css" }}">
    {% seo %}
  </head>
  <body>
    {% include header.html %}

    {% include content.html %}

    {% include footer.html %}

    <script src="{{ "/assets/js/linktarget.js" }}"></script>
  </body>
</html>
